$M_MOBILE_FROM          :  375px;
$M_MOBILE_FROM_PORTRAIT :  375px;
$M_TABLET_XS_FROM       :  601px;
$M_TABLET_FROM          :  768px;
$M_DESKTOP_FROM         :  1024px;
$M_DESKTOP_XL_FROM      :  1360px;
$M_DESKTOP_XXL_FROM     :  1600px;