@import './colors.scss';
@import './fonts';
@import './loader.scss';
@import './select';

$navbar_header_height: 80px;
$navbar_main_height: 40px;
$navbar_mobile: 120px;
$box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

body {
    width: 100%;
    height: 100%;
    font-family: $f-content;
    font-size: 16px;
    line-height: 24px;
    color: $c_text_main_content;
    font-weight: 200;
    overflow-x: hidden;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $c_text_main_content;
}

h1 {
    font-size: 40px;
    line-height: 60px;
    color: $c_white;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: $c_grey_title;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 23px;
}

.container {
    padding: 0 15px;
}

.btn {
    padding: 0;
    width: 168px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 16px;
    color: $c_white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    background: $c_green_lite;
    transition: all 0.3s ease-out;

    &:hover {
        transition: all 0.3s ease-in;
        background: $c_green_dark;
    }
}

.text-field {
    padding: 0 15px;
    width: 300px;
    height: 56px;
    background-color: $c_form_bg;
    border: solid 1px $c_form_border;
    border-radius: 3px;
    font-size: 16px;
    color: $c_dark_navbar_text;
    outline: none;
}

.bad {
    border: solid 1px red;
}

.textarea {
    padding: 15px;
    resize: none;
    height: 100px;
    font-size: 16px;
    color: $c_dark_navbar_text;
    font-family: $f-content;
}

.decorator {
    margin: 10px 0 15px 0;
    width: 76px;
    height: 38px;
    background: url('../img/decorator.png');
}

// TODO: NAVBAR
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 100;

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .flags-wrapper {
            display: flex;
            flex-direction: column;

            .togle-btn-label {
                color: $c_grey;
                text-align: center;
                font-size: 14px;
            }
        }
    }

    &.sticky {
        width: 100%;
        border-bottom: solid 1px rgba($color: #000000, $alpha: .1);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: $box-shadow;
        background: $c_white;

        .navbar__header {
            height: 60px;

            .navbar__contacts-wrapper {
                .navbar__contact-item {
                    .navbar__contact-content {
                        font-size: 14px;
                    }
                }
            }
        }

        .navbar__main {
            .container {
                width: 100%;
            }

           & { display: flex;
            line-height: 30px;
            height: 40px;
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
        height: $navbar_header_height;
        background-color: $c_green_dark;

        .navbar__contacts-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: $c_white;

            .navbar__contact-item {
                display: flex;
                align-items: center;

                .navbar__contact-content {
                    color: $c_white;
                    font-weight: bold;
                    letter-spacing: 1px;

                    a {
                        color: $c_white;
                        font-weight: bold;
                    }
                }

                .icon {
                    margin-right: 15px;
                    width: 18px;
                    height: 18px;
                }

                .navbar__phone-icon {
                    background: url('../img/phone-call.svg');
                }

                .navbar__schedule-icon {
                    background: url('../img/clock.svg');
                }

                .navbar__map-icon {
                    background: url('../img/map.svg');
                }
            }
        }
    }

    &__main {
        width: 100%;
        background-color: $c_white;

        .logo {
            display: flex;
            align-items: center;
            cursor: pointer;

            .logo-image {
                width: 30px;
                height: 30px;
                background: url('../img/leaf.svg') no-repeat;
                background-size: contain;
            }

            .logo-label {
                margin-left: 8px;
                font-size: 18px;
                font-weight: bold;
            }
        }

        .navbar-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;

            .nav-list-wrapper {
                .nav-list {
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $c_white;
                    transform: translateX(-100%);
                    transition: transform 0.3s ease-out;
                    z-index: 10;
            
                    &__link {
                        margin-bottom: 20px;
            
                        a {
                            text-decoration: none;
                            font-size: 22px;
                            font-weight: 500;
                            //text-transform: uppercase;
                            transition: color 0.3s ease-in-out;
                            cursor: pointer;
                            color: $c_dark_navbar_text;
            
                            &:hover {
                                color: rgba($color: $c_white, $alpha: .5)
                            }
                        }
                    }
            
                    &.open {
                        transform: translateX(0%);
                        transition: transform 0.3s ease-in;
                    }
                }
            }

            .burger-menu {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 30px;
                height: 18px;
                cursor: pointer;
        
                &__line {
                    width: 30px;
                    height: 3px;
                    background: $c_green_dark;
                    z-index: 20;
                    transition: 0.4s;
                }
        
                &.focus {
                    .burger-menu__line:first-child {
                        -webkit-transform: rotate(-45deg) translate(-9px, 8px);
                        transform: rotate(-45deg) translate(-9px, 8px);
                        background: $c_green_dark;
                    }
        
                    .burger-menu__line:nth-child(2) {
                        opacity: 0;
                        background: $c_green_dark;
                    }
        
        
                    .burger-menu__line:last-child {
                        -webkit-transform: rotate(45deg) translate(-2px, -3px);
                        transform: rotate(45deg) translate(-2px, -3px);
                        background: $c_green_dark;
                    }
                }
            }
        }
    }
}

// TODO: HEADER
.section-header {
    position: relative;
    margin-top: $navbar_mobile;
    display: flex;
    align-items: center;
    height: 80vh;
    background: url('../img/header-bg.jpg') no-repeat;
    background-size: cover;
    background-position-x: 30%;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .5);
        z-index: -1;
    }

    .section-header__content {
        .section-header__subtitle {
            margin-top: 20px;
            font-size: 16px;
            line-height: 27px;
            font-weight: bold;
            color: $c_white;
        }

        .btn-header {
            margin-top: 30px;
        }
    }
}

// TODO: ADVANTAGES
.section-advantages {
    padding-bottom: 0;

    .section-advantages__title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-advantages__advantages-wrapper {
        margin-top: 50px;
        position: relative;
        padding: 50px 0;
        background: url('../img/benefits-bg.jpg') no-repeat;
        background-size: cover;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.75);
            z-index: -1;
        }

        .section-advantages__list {
            display: flex;
            flex-direction: column;

            .section-advantages__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;


                .section-advantages__icon {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;

                    &.price-icon {
                        background: $c_white url('../img/dollar.svg') no-repeat 50% 50%;
                    }

                    &.test-icon {
                        background: $c_white url('../img/clock-filled.svg') no-repeat 50% 50%;
                    }

                    &.package-icon {
                        background: $c_white url('../img/money-bag.svg') no-repeat 50% 50%;
                    }

                    &.auto-icon {
                        background: $c_white url('../img/truck.svg') no-repeat 50% 50%;
                    }
                }

                .section-advantages__item-title {
                    margin-top: 15px;
                    text-align: center;
                    color: $c_green_lite;
                }

                .section-advantages__item-description {
                    margin-top: 15px;
                    text-align: center;
                    color: $c_white;
                }
            }
        }
    }
}

.section-services {
    background-color: $c_dark_section;

    .section-services__title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-services__title {
            color: $c_white;
        }
    }

    .products {
        .section-services__product-wrapper {
            display: flex;
            flex-direction: column;

            .section-services__product {
                margin-top: 60px;

                .section-services__product-image {
                    overflow: hidden;

                    img {
                        width: 100%;
                        transition: transform 0.2s ease-out;
                    }

                    &:hover {
                        cursor: pointer;

                        img {
                            transform: scale(1.03, 1.03);
                            transition: transform 0.3s ease-in;
                        }
                    }
                }
                .section-services__product-title {
                    margin-top: 15px;
                    color: $c_white;
                }

                .section-services__product-description {
                    margin-top: 20px;
                    color: $c_white;
                    text-align: center;
                }

                .section-services__chart-title {
                    margin-top: 30px;
                    color: #999999;
                }

                .section-services__chart {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .section-services__chart-wrapper {
                        position: relative;
                        width: 100%;
                        height: 40px;
                        overflow: hidden;
                        z-index: 1;

                        .section-wrapper__chart-label {
                            margin-right: 10%;
                            display: flex;
                            flex-direction: column;
                            line-height: 40px;
                            font-weight: bold;
                            color: $c_white;
                            text-align: right;
                        }
                        
                        &.protein {
                            background-color: $c_chart_protein_bg;
                        }

                        &.zhyry {
                            margin-top: 15px;
                            background-color: $c_chart_zhyry_bg;
                        }

                        .section-services__chart-progress {
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 100%;
                            z-index: -1;

                            &.progress-protein {
                                background-color: $c_chart_protein_progress;
                            }
    
                            &.progress-zhyry {
                                background-color: $c_chart_zhyry_progress;
                            }
                        }
                    }
                }

                .product-price {
                    display: none;
                    margin: 30px auto 0 auto;
                    text-align: center;
                    color: $c_white;
                    cursor: default;
                    background: none;
                    border: solid $c_green_lite 1px;

                    &.show {
                        display: block;
                    }
                }
            }
        }
    }
}

// TODO: FORM
.section-form {
    position: relative;
    background: url('../img/form-bg.jpg') no-repeat;
    background-size: cover;
    background-position-x: 20%;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .7);
        z-index: -1;
    }

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-form__title {
            color: $c_white;
        }

        .section-form__description {
            text-align: center;
            color: $c_white;

            span {
                font-weight: bold;
                color: $c_white;
            }

            a {
                color: $c_white;
            }
        }
    }

    .section-form__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-field-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .section-form__input {
            margin-top: 30px;
        }

        .section-form__btn {
            margin-top: 30px;
        }

    }
}

// TODO: DELIVERY
.section-delivery {
    &__title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        .section-delivery__item {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .section-delivery__item-icon {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px solid $c_grey;

                &.podhotovka {
                    background: $c_white url('../img/podhotovka.svg') no-repeat;
                    background-size: 50%;
                    background-position: 50% 50%;
                }

                &.box {
                    background: $c_white url('../img/box.svg') no-repeat;
                    background-size: 50%;
                    background-position: 50% 50%;
                }

                &.payment {
                    background: $c_white url('../img/income.svg') no-repeat;
                    background-size: 50%;
                    background-position: 50% 50%;
                }
            }

            .section-delivery__item-title {
                margin-top: 20px;
            }

            .section-delivery__item-description {
                margin-top: 30px;
                text-align: center;
            }
        }
    }
}

// TODO: FOOTER
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background: url('../img/footer-bg.png') no-repeat;
    background-size: cover;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .85);
        z-index: -1;
    }

    .footer__logo-column {
        display: flex;
        flex-direction: column;

        .footer__logo-wrapper {
            display: flex;
            align-items: center;

            .footer__logo {
                width: 50px;
                height: 50px;
                background: url('../img/leaf.svg');
            }

            .footer__logo-title {
                margin-left: 15px;
                font-size: 24px;
                font-weight: bold;
                color: $c_white;
            }
        }

        .footer__description {
            margin-top: 15px;
            color: $c_grey_text_footer;
        }
    }

    .footer__title-column {
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        .footer__contacts-title {
            position: relative;
            color: $c_white;
            text-align: left;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 30%;
                height: 1px;
                background: $c_green_lite;
            }
        }

        .footer__title-description-list {
            display: flex;
            flex-direction: column;

            .footer__description-row {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                .footer__row-title {
                    color: $c_grey_text_footer;
                }

                .footer__row-description {
                    color: $c_grey;

                    a {
                        color: $c_grey;
                    }
                }
            }
        }
    }
}

// TODO: MODALS
.loader-modal, .success-modal {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 100;

    &.show {
        display: flex;
    }
}

.loader-modal {
    .loader-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include loader;
    }
}

.success-modal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 500px;
        background: $c_white;
        border-radius: 10px;

        .icon {
            width: 100px;
            height: 100px;
            background: url('../img/success-icon.svg') no-repeat;
            background-size: contain;
        }

        .text-message {
            margin-top: 30px;
            padding: 0 15px;
            text-align: center;
        }
    }
}

.action-buttons {
    position: fixed;
    right: 30px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    transform: translateY(200%);
    z-index: 999;


    &.show {
        transform: translateY(0%);
        // -webkit-animation: pulsate 4s ease-out;
        // -webkit-animation-iteration-count: infinite; 
    }

    .action-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: $box-shadow;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        -webkit-animation: pulsate 4s ease-out;
        -webkit-animation-iteration-count: infinite; 

        &:hover {
            transform: scale(1.1);
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .call-btn {
        margin-bottom: 15px;
        background: rgb(13, 155, 13) url('../img/phone.svg') no-repeat center center;
        background-size: 60% 60%;
    }

    .telegram-btn {
        background: url('../img/telegram.svg') no-repeat center center;
        background-size: contain;
    }

    .viber-btn {
        margin-top: 15px;
        background: url('../img/viber.svg') no-repeat center center;
        background-size: contain;
    }
}

.viewer-canvas {
    background: rgba($color: #000000, $alpha: .7);
}
